.main-header {
    display: flex;
    align-items: center;
    gap: 40px;
}

.top-header {
    width: 100%;
    z-index: 9999;
    transition: .3s;
}

.top-header.active {
    background: #fff;
    position: fixed;
    top: 0;
}

ul.nav-ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.mobile-toggle {
    font-size: 30px;
    color: var(--black-color);
    display: none;
}

li.nav-list a {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
li.nav-list:hover a {
    color: #006666;
}

.logo a img {
    width: 104px;
}

nav.navigation {
    height: 80px;
    display: flex;
    align-items: center;
    background: #33CC99;
}

ul.nav-ul {
    margin-bottom: 0;
}

li.nav-list.active::after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #33CC99;
    border-radius: 10px;
}

li.nav-list {
    position: relative;
    /* padding-bottom: 5px; */
}

li.nav-list.active a {
    color: #006666;
}


/* Footer */

.footer-area {
    background: #0C111D;
    padding-top: 64px;
}

.logo-area p {
    color: #EAECF0;
    font-family: Poppins;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
    line-height: 24px;
}

.footer-menu-wrapper h4 {
    color: var(--Gray-300, #D0D5DD);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
}

li.footer-li a {
    color: var(--Gray-200, #EAECF0);
    font-family: Syne;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 0;
}

.footer-menu-wrapper h4 {
    color: var(--Gray-300, #D0D5DD);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
}

li.footer-li a {
    color: var(--Gray-200, #EAECF0);
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 0;
}

.footer-social ul {
    justify-content: space-between;
    align-content: center;
    row-gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social ul li a {
    color: #98A2B3;
}

.footer-copy p {
    color: var(--Gray-300, #D0D5DD);
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-copy-area {
    padding: 48px 0;
    margin-top: 48px;
}

@media screen and (max-width:768px) {
    .mobile-toggle {
        cursor: pointer;
        display: block;
        z-index: 999;
    }
    .nav-menu {
        position: fixed;
        width: 350px;
        background: #f3f3f32e;
        top: 0;
        bottom: 0;
        z-index: 9;
        right: -150%;
        padding: 25px;
        padding-top: 80px;
        backdrop-filter: blur(9px);
        box-shadow: 1px 1px 20px 0px #00000026;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    ul.nav-ul {
        display: block;
    }
    .main-header {
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu.active {
        right: 0;
    }
    li.nav-list a {
        display: block;
        padding: 10px;
    }
}

@media screen and (max-width:500px) {
    .footer-copy-area {
        padding: 14px 0;
        margin-top: 15px;
    }
    .footer-copy {
        flex-direction: column-reverse;
    }
}