.hero-content {
    text-align: center;
    padding-top: 162px;
}

.hero-section {
    background-image: url(../public/assets/img/inner/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.hero-content h1 {
    font-size: var(--sec-title-font);
    color:var(--second-color);
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -1.12px;
    margin: 24px 0;
}
.hero-content p {
    width: 84%;
    margin: auto;
}
.hero-slider-border {
    border: 8px solid #000;
    border-radius: 24px;
}

.hero-slider-item img {
    width: 100%;
}

.hero-content h1 a {
    color: var(--text-main-color);
}

.video-btn {
    display: flex;
    padding: 16px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Gray-700, #344054);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-weight: 600;
}

.hero-button {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-top: 45px;
}


/* hero slider  */

.hero-slider-wrapper {
    padding-top: 104px;
}

.slider-content {
    position: absolute;
    text-align: center;
    margin-bottom: -70px;
}

.mobile-slider-img {
    display: none;
}

.hero-slider-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.slider-content h2 {
    font-weight: 700;
    font-size: 92px;
    line-height: 100%;
}

.slider-content p {
    letter-spacing: var(--letter-spacing);
    font-size: 24px;
    font-weight: 500;
}

.democrati {
    padding-top: 112px;
    z-index: 1;
    position: relative;
    background: #EFF3FB;
}

.democrati-wrapper {
    background-image: url(../public/assets/img/inner/democra.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow-x: hidden;
}

.section-title h2 {
    font-size: var(--sec-title-font);
    color: var(--title-color);
    text-align: center;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.12px;
    margin-bottom: 16px;
}

.section-title {
    text-align: center;
}

.democrati-wrapper {
    padding-top: 97px;
    padding-bottom: 81px;
}

h4.sm-title {
    font-size: 24px;
    color: var(--title-color);
    font-weight: 600;
    font-family: var(--popins-font);
    letter-spacing: var(--letter-spacing);
}

.democrati-content-title h2 {
    font-size: 48px;
    letter-spacing: -0.96px;
    font-weight: 500;
    color: var(--second-color);
    margin: 20px 0;
}

.democrati-content-title h2 a {
    color: var(--second-color);
    text-decoration: revert-layer;
    font-weight: 700;
    text-decoration: underline !important;
}

ul.democrati-ul {
    padding-top: 72px;
}

ul.democrati-ul li h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--title-color);
}

ul.democrati-ul li p {
    font-size: 16px;
    padding-bottom: 20px;
}

ul.democrati-ul li {
    padding: 15px;
    margin-bottom: 15px;
    transition: .3s;
    position: relative;
    width: 73%;
}

ul.democrati-ul li a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-main-color);
    transition: .3s;
}

ul.democrati-ul li a:hover {
    color: var(--hover-color);
}

ul.democrati-ul li:hover::before {
    opacity: 1;
    visibility: visible;
}

ul.democrati-ul li::before {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    left: 0;
    background: var(--text-main-color);
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.democrati-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.democrati-img-alt {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: start;
}

.democrati-img-alt img {
    box-shadow: 0px 0px 1px 0px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.10), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
}

.democrati-img img {
    box-shadow: 0px 0px 1px 0px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.10), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
}

.carbon-content-wrapper {
    display: flex;
    padding: 56px 84px;
    align-items: flex-start;
    gap: 32px;
    background: #3DC5BE;
    border-radius: 16px;
}

.carbon-left h2 {
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 20px;
}

.carbon-left {
    color: var(--white-color);
}

.carbon-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

.carbon-section {
    margin: 56px 0;
}

.reporting-wrapper {
    padding: 96px 0;
}

.section-title-left h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.96px;
    color: var(--second-color);
    margin-bottom: 20px;
}

.reporting-card {
    background: var(--main-color);
    padding: 24px;
    border-radius: 16px;
    transition: .3s;
}

.reporting-icon {
    display: inline-flex;
    padding: 12px;
    border-radius: 10px;
    background: var(--KPO-green, #066);
    margin-bottom: 20px;
}

.reporting-text h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 8px;
}

.reporting-text {
    color: var(--white-color);
    height: 110px;
}

.reporting-text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* .reporting-email {
    margin-top: 49px;
} */

.reporting-email a {
    color: var(--white-color);
    transition: .3s;
}

.reporting-email a:hover {
    color: var(--second-color);
}


/* .reporting-card-area {
    margin-top: 64px;
} */

.reporting-slider {
    padding: 64px 0 !important;
    padding-bottom: 0 !important;
}

.section-title-center h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.96px;
    color: var(--second-color);
    margin-bottom: 20px;
}

.section-title-center {
    text-align: center;
    padding: 0 55px;
}

.carbon-section-second {
    padding: 96px 0;
}

.blog-button {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.section-title-left h4 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 15px;
    color: var(--title-color);
}

.blog-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.blog-card-img img {
    width: 100%;
    transition: .3s;
    border-radius: 15px;
}

.blog-post-card:hover .blog-card-img img {
    transform: scale(1.2);
}

.post-type-time {
    display: inline-flex;
    gap: 15px;
    font-size: 12px;
    font-family: 'Syne';
    font-weight: 500;
    border-radius: 16px;
    border: 1px solid var(--Gray-50, #F9FAFB);
    background: var(--Base-White, #FFF);
    padding: 5px 15px;
}

a.post-title {
    display: grid;
    grid-template-columns: 85% 10%;
    gap: 5%;
    color: var(--second-color);
    font-family: var(--body-font);
    margin: 8px 0;
    transition: .3s;
}

a.post-title h3 {
    font-weight: 700;
    font-size: 24px;
}

.blog-card-img {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 15px;
}

.blog-post-card p {
    font-size: 16px;
}

.post-type-time p {
    color: var(--Gray-900, #101828);
    font-family: Syne;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
}

.latest-blog {
    margin-top: 64px;
}


/* ==============About============= */
img.page-head-img {
    margin-bottom: 24px;
}
h2.about-slider-content {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.84px;
    padding: 0 125px;
}
.section-title-center h4 {
    color: var(--title-color);
}
.about-image img {
    width: 100%;
}

.about-content p {
    font-size: 16px;
    line-height: 30px;
}

.about-main-content {
    margin-top: 64px;
}

.about-content p {
    margin-bottom: 30px;
}

.about-full-content h2 {
    color: var(--second-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    padding-bottom: 20px;
}

.about-full-content p {
    font-size: 16px;
}

.about-full-width-content {
    margin-top: 48px;
    padding: 40px 0;
}

.team-section {
    padding-top: 48px;
    padding-bottom: 16px;
}

.team-card {
    position: relative;
    margin-bottom: 32px;
    overflow: hidden;
}

.team-img img {
    width: 100%;
}

.team-member-details {
    position: absolute;
    bottom: 0;
    padding: 24px;
    padding-bottom: 32px;
    color: var(--white-color);
    border-top: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(12px);
    width: 100%;
}

ul.team-social {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    transition: .3s;
}

.team-member-details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 32px;
}

h4.team-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    font-family: var(--popins-font);
    margin-bottom: 3px;
}

a.team-name {
    width: 100%;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    margin-bottom: 16px;
}

a.team-name:hover {
    color: var(--main-color);
}

a.social-link {
    color: var(--white-color);
    transition: .3s;
}

a.social-link:hover {
    color: var(--main-color);
}

.team-wrapper {
    margin-top: 96px;
}

.story-section {
    margin-top: 72px;
}

.story-content h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.8px;
    color: var(--second-color);
    margin-bottom: 16px;
}

.story-full-content-wrapper {
    margin-top: 32px;
}

.story-content {
    font-size: 18px;
}

.full-story-content {
    font-size: 18px;
}

.story-img img {
    width: 100%;
}

.about-page-wrapper {
    padding-top: 72px;
}


/* Blog page style */

.py-56 {
    padding: 56px 0;
}

.last-news {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.last-blog-content {
    position: absolute;
    bottom: 0;
    padding: 32px;
    width: 100%;
    color: var(--white-color);
    background: #00000099;
    backdrop-filter: blur(5px);
}

.last-post-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    transition: .3s;
}

.last-post-title:hover {
    color: var(--main-color);
}

.last-news-img img {
    width: 100%;
}

.last-blog-content p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.post-publish-tag {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

p.publish-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
}

ul.post-tag-ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

a.post-tag-link {
    padding: 2px 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-family: var(--popins-font);
    border-radius: 16px;
    border: 1.5px solid var(--Base-White, #FFF);
    color: var(--white-color);
    transition: .3s;
}

a.post-tag-link:hover {
    background: var(--main-color);
}

ul.post-tag-ul li {
    margin: 8px 0;
}

.my-64 {
    margin: 64px 0;
}

.mb-56 {
    margin-bottom: 56px;
}


/*========================== post details page=====================  */

.post-view-area {
    padding: 96px 0;
}

.blog-post-content {
    text-align: center;
    padding-bottom: 64px;
}

.blog-post-content h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: var(--title-color);
    font-family: var(--popins-font);
    padding-bottom: 10px;
}

.blog-post-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.96px;
    color: var(--second-color);
    padding-bottom: 20px;
}

.blog-post-content p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.blog-post-content p a {
    text-decoration-line: underline !important;
    color: var(--body-color);
    -moz-text-decoration-line: underline !important;
}

.post-full-content-inner p a {
    color: var(--body-color);
    text-decoration: underline !important;
}

.post-image img {
    width: 100%;
    border-radius: 30px;
}

.post-full-content {
    padding-top: 56px;
}

.post-full-content-inner p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 25px;
    font-family: var(--popins-font);
}

.post-full-content-inner h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--title-color);
    font-family: var(--body-font);
    margin-bottom: 20px;
    padding-top: 10px;
}

a.share-link {
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--Base-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 12px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color);
    gap: 5px;
    transition: .3s;
}

ul.share-ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

a.share-link span {
    line-height: 0;
}

a.share-link:hover {
    color: var(--white-color);
    background: var(--second-color);
}

.share-link {
    padding-top: 70px;
}


/* ================================faq page ======================== */

.search-input {
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--Base-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: inline-flex;
    align-items: center;
    gap: 7px;
    padding: 5px 14px;
    font-size: 16px;
}

.search-input input {
    border: none;
}

.search-box-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.faq-head {
    padding: 96px 0;
}

.faq-title {
    color: var(--second-color);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.64px;
    margin-bottom: 64px;
}

.faq-content .faq-row-wrapper {
    background: none;
}

.row-title-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.faq-row {
    border-bottom: 1px solid #EAECF0 !important;
    padding: 10px 0 !important;
}

.row-content-text {
    color: #415571;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 70px !important;
}

.faq-wrapper {
    padding-bottom: 96px;
}

.faq-gov {
    font-size: 92px !important;
}

.py-96 {
    padding: 96px 0;
}

.contact-area {
    margin-top: 64px;
}

.contact-info-card h4 {
    color:var(--main-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
}

.contact-icon {
    margin-bottom: 16px;
    font-size: 24px;
}

.contact-info-card p {
    font-size: 16px;
    margin-bottom: 16px;
}

.contact-info-card a {
    color: var(--Gray-800, #182230);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.contact-info-card {
    margin-bottom: 48px;
}

.contact-form-wrapper {
    padding: 32px;
    border-radius: 16px;
    background: #FAFCFF;
    box-shadow: 3px 2px 50px 0px rgba(152, 160, 178, 0.10);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--main-color);
}

label {
    color: var(--Gray-700, #344054);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.form-check {
    align-items: center;
    display: flex;
}

.contact-area-wrapper {
    padding-top: 96px;
}


/* ======================product page =================== */

.product-page-title h1 {
    color: var(--second-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.96px;
}
.product-page-title {
    text-align: center;
}
.product-page-title-wrapper {
    padding-top: 96px;
    padding-bottom: 64px;
}

.product-page-title p {
    color: #415571;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.product-title a {
    color:var(--second-color);
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
    letter-spacing: -0.48px;
    text-align: center;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.product-title a:hover {
    color: var(--main-color);
}

.product-card {
    border-radius: 16px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: var(--Base-White, #FFF);
    overflow: hidden;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    margin-bottom: 30px;
    height: 100%;
    transition: .3s;
}

.product-card:hover {
    transform: translateY(-20px);
}

.product-card-img img {
    width: 100%;
}


/* .product-facility-list {
    padding: 20px;
    padding-top: 0;
} */

.margin-border-wrap {
    margin: 40px;
    margin-top: 0;
}

.margin-border-wrap-small {
    margin: 20px;
    margin-top: 0;
}

.product-title {
    border-bottom: 1px solid #efefef;
}

ul.product-facility-ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: self-start;
}

.right-mark-area {
    display: flex;
    gap: 10px;
    align-items: self-start;
}

.right-mark-area p {
    color: var(--Gray-600, #475467);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.free-gateway-card-area {
    padding-top: 64px;
}

.plateform-card {
    position: relative;
    overflow: hidden;
}

.plateform-img img {
    width: 100%;
}

.plateform-content {
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.30);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: 24px 24px 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 32px;
    gap: 32px;
    padding-left: 40px;
    overflow-y: auto;
    height: 85%;
    bottom: -60%;
    transform: translate3d(0, 10px, 0);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.21, 1.14);
    width: 100%;
}

.plateform-card:hover .plategorm-ul {
    display: block;
}

.plateform-content::-webkit-scrollbar {
    width: 0px;
}

.plateform-card:hover .plateform-content .plateform-f-content {
    display: none;
}

.plateform-card:hover .plateform-content {
    bottom: -15px;
    background: rgb(54 52 52 / 74%);
}

.plateform-content p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

ul.plategorm-ul {
    list-style: disc;
    color: var(--white-color);
    display: none;
}

.plateform-content h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: var(--white-color);
    margin-bottom: 16px;
}

.plateform {
    padding-bottom: 96px;
}

ul.plategorm-ul li {
    margin-bottom: 7px;
}

.plateform-card-wrapper {
    margin-top: 64px;
}


/* =====================product details ======================= */

.product-details-content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0;
}

ul.product-details-list {
    list-style: disc;
    padding-left: 30px;
}

.product-image img {
    max-width: 100%;
}

.plateform-f-content {
    height: 100px;
    color: var(--white-color);
}


/* ===================animation===============  */

.reporting-card:hover {
    transform: translateY(-20px) !important;
}

.post-title:hover {
    color: var(--second-color);
}

.team-card:hover .team-social {
    padding-bottom: 25px;
}

.product-details-content ul li {
    list-style: initial;
}

.product-details-content a {
    text-decoration: initial;
}

.post-full-content-inner h2 {
    color: var(--second-color);
    font-size: 28px;
    font-weight: 700;
}

.post-full-content-inner h3 {
    color: var(--second-color);
    font-size: 25px;
    font-weight: 700;
}

.post-full-content-inner blockquote {
    color:var(--second-color);
    font-size: 24px;
    font-weight: 500;
    border-left: 3px solid var(--main-color);
    padding-left: 20px;
    line-height: 120%;
}
.post-full-content-inner blockquote p {
    line-height: 150%;
}

.post-full-content-inner blockquote h3 {
    font-size: 24px;
}

.post-full-content-inner blockquote p {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Syne';
}

.post-full-content-inner ul {
    list-style: disc;
    padding-left: 20px;
}




/* ==================bg area================ */
.bg-wrapper-a{
    background-image: url(../public/assets/img/bgmap/home-blog.png);
    background-repeat: repeat;
    background-size: cover;
}

.about-bg-wrapper{
    background-image: url(../public/assets/img/bgmap/about-bg.png);
    background-repeat: repeat;
    background-size: cover;
}

.post-view-bg,
.blog-page-wrapper,
.product-details-wrapper,
.product-page-wrapper{
    background-image: url(../public/assets/img/bgmap/product-bg.png);
    background-repeat: repeat;
    background-size: 100%;
}



.faq-wrapper{
    background-image: url(../public/assets/img/bgmap/faq-bg.png);
    background-repeat: repeat;
    background-size: cover;
}


.btn-close.model-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 100%;
    color: #000;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body iframe {
    width: 100% !important;
    height: 450px !important;
}


.page-btn {
    background: #3c9;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    transition: .3s;
    cursor: pointer;
}

.page-btn:hover {
    background: var(--main-color);
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page-count.disabled ,
.page-btn.disabled {
    background: #ddd;
}


.page-count.active {
    width: 40px;
    height: 40px;
    border: none;
    background: #3c9;
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.nav-list.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--second-color);
    bottom: -27px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.product-details-content ul{
    padding-left: 19px;
}

.hero-button{
    gap: 10px;
    display: flex;
    align-items: center;
}

.page-count {
    width: 40px;
    height: 40px;
    border: none;
    background: #495057;
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}